main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#login-box{
	text-align: center;	
}
#login-box input[type="submit"]{
	width: 100%;
}
input {
	margin-bottom: 10px;
	width: 280px;
}
.error-message{
	color: rgb(200,100,100);
}
.success-message{
	background-color: #4b4;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 2px 2px 5px #888; 
	color: white;
}
