#help {padding: 10px; max-width:1100px;margin:auto; box-sizing: border-box;}

#index {
	border: 1px solid grey;
	border-radius: 10px;
	padding: 20px;
	min-width: 50%;
	margin: 20px;
	box-sizing: border-box;
}

/*#password {clear: right;}*/

.flex {display: flex; flex-direction: row; justify-content: space-around; margin: 20px; box-sizing: border-box;}



p {font-size:18px;line-height: 150%; font-weight: normal;margin-bottom:15px;}

ul, ol {font-size:18px;font-weight:normal; list-style-type: square;}

main img {max-width: 100%; border:solid 1px #2196F3;); border-radius: 15px;}

h2, h3 {padding: 10px 0; box-sizing: border-box;}

hr {margin:50px;}

#index ul{
	list-style-type: none;
	padding: 0px;
}
#index ul li{
	padding: 5px;
	border-bottom: 1px dotted #aaa;
	color: #888;
	font-size: 15px;
}
#index ul li a{
	color: #444;
}

