main{
	display: flex;
	font-family: verdana;
	flex-direction: column;
	align-items: center;
}
main > div{
	width: 900px;
}
table{
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	font-weight: normal;
	margin-top: 80px;
	margin-bottom: 80px;
}
td{
	padding: 5px;
	text-align: center;
}
.header2 td{
	width: 120px;
}
tr:nth-child(odd){
	background-color: #ccc;
}
td.money{
	text-align: right;
}
td.left{
	text-align: left;
}
td.total{
	font-weight: bold;
}
tr.total td, tr.average td{
	background-color: #555;
	padding: 10px 16px;
	color: #fff;
}
.header1 td{
	background-color: rgba(250,140,0,1);
	color: #fff;
	font-weight: bold;
}
.header2 td{
	background-color: rgba(250,140,0,1);
	color: #fff;
	font-weight: bold;
}
.graphic{
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	display: flex;
	padding: 50px;
	height: 400px;
	align-items: flex-end;
	margin-bottom: 80px;
}
.graphic .amounts{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.graphic .bar{
	background-color: #FA8C00;
	width: <?php echo 420/count($report['months']); ?>px;
	height: <?php echo (400/100*40); ?>px;
	margin-left: <?php echo 240/count($report['months']); ?>px;
	box-shadow: 2px 2px 10px #888;
}
