html{ height: 100% }
a{ text-decoration: none; }
p, h1, h2{ margin: 0 }
* { box-sizing: border-box; font-family: verdana; }
button{ box-shadow: 2px 2px 5px #888; cursor:pointer; }
input, button, select{ border: none; border-radius: 4px; background-color: #eee; }
select{ 
	padding: 5px;
	height: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
	cursor: pointer;
}
body{
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100%;
	font-weight: bold;
	color: #444;
	background-color: rgba(220,220,255,1);
}
body > header{
	min-height: 80px;
	padding: 14px 28px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: #2196f3;
	color: #ffffff;
}
body > header h1{
	text-shadow: 5px 5px 5px #aaa;
	transition: all 0.3s ease;
}
body > header h1:hover{
	text-shadow: 5px 5px 5px #888;
}
body > header nav a{
	color: #fff;
	margin-right: 10px;
	position: relative;
}
body > header nav a::after{
	content: "";
	position: absolute;
	top: 160%;
	left: 0px;
	width: 100%;
	height: 1px;
	font-size: 8px;
	background-color: rgba(255,255,255,0);
	top: 0px;
	transition: all 0.3s ease;
}
body > header nav a:hover::after{
	top: 160%;
	background-color: rgba(255,255,255,0.8);
}
body > main{
	flex-grow: 1;
}
body > footer {
	background-color: #2196f3;
	min-height: 80px;
	color: white;
	display: flex;
	align-items: center;
	padding: 20px;
	font-size: 16px;
	font-weight: normal;
}

