main{
	display: flex;
	flex-direction: column;
	align-items: center;
}
input{
	height: 30px;
	padding: 8px;
}
input[type="checkbox"]{
	border: 1px solid red;
}
.buttons button{
	margin: 0px 2px 2px 0px;
	background-color: #ddd;
	font-weight: bold;
	color: #333;
	height: 30px;
	cursor: pointer;
	background-color: #ddd;
	transition: all 0.3s ease;
}
.buttons button:hover{
	background-color: #fff;
}
.header .filters-button{
	position: absolute;
	top: 0px;
	right: 30px;
	border-radius: 0px 0px 8px 8px;
	cursor: pointer;
	height: 24px;
	padding: 0px 16px;
	background-color: rgba(220,220,255,1);
	box-shadow: 2px 2px 5px -1px #888; 
	transition: all 0.3s ease;
	font-weight: bold;
}		
.header .filters-button:hover{
	box-shadow: 2px 2px 5px 2px #888; 
}
#list .header{
	padding: 10px 20px;
	background-color: rgba(250,140,0,0.8);
	color: white;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	position: relative;
}
#list #filters{
	box-shadow: 0px -3px 5px rgba(140,140,140,0.8) inset, 0px 3px 5px rgba(140,140,140,0.8) inset; 
	width: 100%;
	background-image: linear-gradient(160deg, rgba(0,0,0,0), rgba(0,0,0,0.1));
	height: 0px;
	padding: 0px 20px;
	transition: all .3s ease;
	overflow: hidden;
}
#list #filters.show{
	height: 100%;
	padding-top: 20px;
	padding-bottom: 24px;
}
#list #filters .line{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 10px;
	align-items: flex-end;
}
#list #filters .line.advanced{
	/*display: none;*/
	/*justify-content: space-around;*/
}
#list #filters .filter{
	text-align: center;
	margin-right: 20px;
	padding: 2px;
	padding-right: 20px;
	font-size: 12px;
	color: #444;
}
#list #filters .filter.contributor input{
	width: 256px;
}
#list #filters .filter.contributor .title{
	margin-bottom: 10px;
}
#list #filters .filter .title{
	font-size: 14px;
	color: #666;
	margin-bottom: 2px;
}
#list #filters .filter .range-container{
	display:flex;
}
#list #filters .filter .range-container > div{
	margin-right: 10px;
}
#list #filters .filter label{
	display: block;
	margin-bottom: 2px;
}
#list #filters input, #list #filters select{
	background-color: #f8f8f8;
	box-shadow: 1px 1px 3px #ddd;
}
#list #filters button{
	padding: 5px;
	background-color: #2196f3;
	color: white;
	margin-top: 10px;
	margin-left: 10px;
}
#list #filters .advanced-filters-link{
	display: none;
	margin-left: 10px;
	text-decoration: underline;
	color: blue;
	font-weight:normal;
	font-size: 14px;
}
.receptionDate input, .commitDate input, .period input, .amount input{
	width: 120px;
}																									
#contributions{
	width: 100%;
	box-shadow: 0px -3px 5px #bbb;
}
#contributions .elements-header{
	padding: 4px 0 5px 0;	
	font-size: 12px;
	color: #fff;
	background-color: rgba(250,140,0,1);
	text-decoration: underline;
}
#contributions .elements-header span{
	cursor: pointer;
}
#contributions .element{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%
	box-sizing: border-box;
	border-bottom: 1px solid #008cb6;
	color: #449;
}
#contributions .elements-header{
	display: flex;
	justify-content: space-between;
}
#contributions .element > div{
	margin-right: 10px;
}
#contributions .element .amount::before{
	content: "$ ";
}
#contributions .element .receptionDate, #contributions .element .commitDate{ 
	font-weight: normal; 
	text-align: center;
}
#contributions .element .status{
	border-radius: 4px;
	padding: 2px 4px;
	color: white;
	width: 100px;
	text-align: center;
}
#contributions .element .status.received{ background-color: rgba(250,140,0,1); }
#contributions .element .status.commited{ background-color: #0a0; }
*{
	/*background-color: #fff!important;*/
	/*color: #000!important;*/
	/*color: rgba(0,0,0,0)!important;*/
	/*text-shadow: none!important;*/
}
