main{
	flex-grow: 1;
	display:flex;
	align-items: center;
	justify-content: center;
}
form{
	border-radius: 10px;
	margin: 10px;
	padding: 10px 14px;
	box-shadow: 2px 2px 5px #888; 
	background-color: rgba(250,140,0,1);
	text-align: center;
}
form > div{
	margin-top: 4px;
	color: #eee;
}
form h2{
	color: #fff;
}
input{
	background-color: #ddd;
	border: none;
	border-radius: 4px;
	height: 30px;
	padding: 6px;
	color: #333;
}
input[type="text"]{
	width: 100%;
}
body > header nav a.load::after{
	top: 160%;
	background-color: rgba(255,255,255,0.4);
	height: 2px;
}
button{
	border: none;
	width: 100%;
	margin: 0px 2px 2px 0px;
	background-color: #fff;
	font-weight: bold;
	color: #333;
	height: 30px;
}
#load-box input[type="date"]{
	width: 175px;
}
#load-box input[type="number"]{
	width: 60px;
}
#load-box input[type="submit"]{
	width: 100%;
}
input {
	margin-bottom: 10px;
}
body > main{
	display: flex;
	justify-content: center;
	align-items: center;
}
body > footer{
	box-shadow: 0px -2px 5px #888;
}
